WinTest
Temp
xcode
tryFFmpeg.apk
WinTest.zip
ffmpeg-unity-demo/Assets/Plugins/iOS/libavdevice.framework
ffmpeg-unity-demo/Assets/Plugins/iOS/libswscale.framework
ffmpeg-unity-demo/Assets/Plugins/iOS/libavutil.framework
ffmpeg-unity-demo/Assets/Plugins/iOS/ffmpegkit.framework
ffmpeg-unity-demo/Assets/Plugins/iOS/libavfilter.framework
ffmpeg-unity-demo/Assets/Plugins/iOS/libavcodec.framework
ffmpeg-unity-demo/Assets/Plugins/iOS/libavformat.framework
ffmpeg-unity-demo/Assets/Plugins/iOS/libswresample.framework
ffmpeg-unity-demo/Assets/Plugins/iOS/ffmpegkit.framework.meta
ffmpeg-unity-demo/Assets/Plugins/iOS/libavcodec.framework.meta
ffmpeg-unity-demo/Assets/Plugins/iOS/libavdevice.framework.meta
ffmpeg-unity-demo/Assets/Plugins/iOS/libavfilter.framework.meta
ffmpeg-unity-demo/Assets/Plugins/iOS/libavformat.framework.meta
ffmpeg-unity-demo/Assets/Plugins/iOS/libavutil.framework.meta
ffmpeg-unity-demo/Assets/Plugins/iOS/libswresample.framework.meta
ffmpeg-unity-demo/Assets/Plugins/iOS/libswscale.framework.meta
ffmpeg-unity-demo/Assets/StreamingAssets
ffmpeg-unity-demo/MacTest.app
